@import "fonts.scss";
@import "buttons.scss";

$black: #1C1F20;
$grey: #646E74;
$tan: #F1C79A;
$green: #38876F;
$dark-green: #0E2D21;
$dark-grey: #606060;
$light-grey: #F4F4F4;
$lightish-grey: #D9D9D9;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

// misc 
.cursor {
  cursor: pointer;
}
//

// colors
.black {
  color: $black;
}

.grey{ 
  color: $grey;
}
.tan {
  color: $tan;
}

.green {
  color: $green;
}


.dark-green {
  color: $dark-green;
}

.dark-grey {
  color: $dark-grey;
}

.light-grey { 
  color: $light-grey;
}

.hover-green {
  transition: color .25s ease;
  &:hover{
    color: $green;
  }
}

// end of colors


// icons
.icon-ssm {
  font-size: 20px;
}
.icon-sm {
  font-size: 24px;
}
.icon-med {
  font-size: 30px;
}

.icon-lg {
  font-size: 40px;
}
.icon-xl {
  font-size: 56px;
}

// end of icons

// mobile and desktop changes

.hide-mobile {
  
  @media only screen and (max-width:600px) {
    display:none !important;
  }
}

.show-mobile {
  display: none !important;
  @media only screen and (max-width:600px) {
    display: block !important;
  }
}
// end of mobile and desktop changes

// lines

.black-line{
  width: 100%;
  height: 1px;
  background-color: $black;
}

.black-line-2{
  width: 100%;
  height: 2px;
  background-color: $black;
}
// end of lines


// links
a {
  text-decoration: none;
  color: inherit;
}
.link-underline {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
}

.base-link{ 
  &:hover{
    h5{
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 4px;
    }
  }
}
// end of links


// margins and padding

.mar-top-8 {
  margin-top: 8px;
}
.mar-top-16 {
  margin-top: 16px;
}
.mar-top-32 {
  margin-top: 32px;
}

.ssm-spacer-bot-res {
  margin-bottom: 64px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 32px;
  }
}
.sm-spacer-bot-res {
  margin-bottom: 128px;
}
.ssm-spacer {
  margin-bottom: 64px;
}
.sm-spacer {
  margin-bottom: 128px;
}
.md-spacer {
  margin-bottom: 156px;
}


.padding-16{
  padding: 16px;
}
.padding-32 {
  padding: 32px;
}
.px-16{
  padding: 0 16px;
}
.padding-8{
  padding: 8px;
}

.mar-left-4 {
  margin-left: 4px;
}
.mar-left-8 {
  margin-left: 8px;
}
.mar-left-12 {
  margin-left: 12px;
}
.mar-left-16 {
  margin-left: 16px;
}
.mar-left-32 {
  margin-left: 32px;
}

.mar-bottom-4 {
  margin-bottom: 4px;
}
.mar-bottom-8 {
  margin-bottom: 8px;
}
.mar-bottom-16 {
  margin-bottom: 16px;
}
.mar-bottom-32 {
  margin-bottom: 32px;
}
.mar-bottom-64 {
  margin-bottom: 64px;
}

.mar-right-4 {
  margin-right: 4px;
}
.mar-right-8 {
  margin-right: 8px;
}
.mar-right-16 {
  margin-right: 16px;
}
.mar-right-12 {
  margin-right: 12px;
}
.mar-right-32 {
  margin-right: 32px;
}

// end of margins and padding


// flex box

.flex-wrap{
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.flex-inline {
  display: inline-flex;
}
.flex-row {
  flex-direction: row !important;
}

.flex-column {flex-direction: column;}
.space-between {
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.flex-one {
  flex: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}
.flex-right {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end !important;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center !important;
}
.justify-start{
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}

.align-start{
  align-items: flex-start;
}
// end of flex box